.Header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .logo {
  line-height: 1;
}

.Header .logo img {
  max-width: 110px;
  max-height: 70px;
}

.Header .list > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .list > ul > li {
  padding: 0.5rem;
  margin-right: 48px;
  &:last-child {
    margin-right: 0;
  }
}

.Header ul li a {
  color: var(--color);
}
.Header ul li.current a,
.Header ul li a:hover,
.Header ul li a:hover i {
  color: var(--color-primary);
}

.Header ul li a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Jost", sans-serif;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
